<div class="playlists-list box-items scrollbar d-flex mt-3 {{ !options || !options.rows ? 'flex-wrap' : '' }}">
  <div *ngFor="let item of playlists; let index = index" class="box-item m-0">
    <div *ngIf="!options || !options.rows || index % options.rows == 0">
      <div *ngFor="let row of createArray(options && options.rows ? options.rows : 1)"
        class="box-item-group mr-4 mb-4">
        <div *ngIf="playlists[index + row]">
          <div class="box-item-img">
            <div>
              <a href="javascript:" (click)="playTrack(playlists[index + row]?.uri, null, null)"
                class="position-relative w-100 h-100 d-flex align-items-center justify-content-center color-black">
                <i class="material-icons-outlined">play_circle_filled</i>
              </a>
            </div>
            <img *ngIf="playlists[index + row]?.images[1]; else fallback" src="{{ playlists[index + row]?.images[1].url }}">
            <ng-template #fallback><img *ngIf="item?.images[0]" src="{{ playlists[index + row]?.images[0].url }}"></ng-template>
          </div>
          <div class="box-item-details">
            <p class="box-item-details-title mt-3 mb-0">
              <small><a class="color-black" [routerLink]="['/playlist', playlists[index + row].id]"><b>{{ playlists[index + row].name }}</b></a></small>
            </p>
            <p *ngIf="!(hidden?.includes('owner'))" class="box-item-details-artists my-0 text-secondary">
              <small><a class="text-secondary" href="{{ playlists[index + row].owner.external_urls.spotify }}" target="_blank">{{ playlists[index + row].owner.display_name }}</a></small>
            </p>
            <p class="box-item-details-artists my-0 text-secondary">
              <small>{{ playlists[index + row].tracks.total }} Tracks</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>