.box-items {
  &::after {
    content: initial;
  }
  &.rows {
    &-1 {
      flex-wrap: initial;
    }
  }
}
.box-item {
  display: inline-block;
  &-img {
    width: 200px;
    height: 200px;
  }
  &-details {
    width: 200px;
  }
}
