<div class="scrollbar w-100" style=" min-height: 300px">

  <table mat-table [dataSource]="tracks" class="styled trackListTable d-none" #trackListTable>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          color="primary">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let item">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(item) : null"
          [checked]="selection.isSelected(item)"
          color="primary">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="song">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let item">{{ getItem(item)?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef>Artist</th>
      <td mat-cell *matCellDef="let item">
        <span *ngFor="let artist of getItem(item)?.artists; index as j;">
          <a routerLink="/artists/{{ artist.id }}">{{ artist.name }}</a>
          <span *ngIf="j < getItem(item)?.artists.length - 1">, </span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="album">
      <th mat-header-cell *matHeaderCellDef>Album</th>
      <td mat-cell *matCellDef="let item">
        <span class="cursor-pointer" routerLink="/albums/{{ getItem(item)?.album?.id }}">{{ getItem(item)?.album?.name }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="popularity">
      <th mat-header-cell *matHeaderCellDef>Popularity</th>
      <td mat-cell *matCellDef="let item">{{ getItem(item)?.popularity }}</td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let item">{{ msToTime(getItem(item)?.duration_ms) }}</td>
    </ng-container>

    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef>Option</th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button><mat-icon class="material-icons-outlined">favorite_border</mat-icon></button>
        <button mat-icon-button><mat-icon class="material-icons-outlined">share</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let item; columns: displayedColumns;" [ngClass]="getItem(item)?.id == currentTrackId ? 'active-track' : ''"></tr>
  </table>



  <table class="tracklist-desktop styled d-none d-md-block table table-purple mb-0{{ class ? ' ' + class : '' }}">
    <thead>
      <tr>
        <th class="track-checkbox" (click)="selectAllToggle($event)">
          <input type="checkbox">
          <i class="material-icons-outlined">done_all</i>
        </th>
        <th scope="col" style="width: 50px; padding-left: 15px;">#</th>
        <th scope="col" style="min-width: 270px">Song</th>
        <th *ngIf="!hideArtists" scope="col" style="min-width: 270px">Artists</th>
        <th *ngIf="!hideAlbums" scope="col" style="min-width: 270px">Album</th>
        <th *ngIf="tracks && getItem(tracks[0])?.popularity" scope="col" style="width: 100px">Popularity</th>
        <th scope="col" style="width: 100px">Time</th>
        <th *ngIf="!hideOptions" scope="col" style="width: 170px;">Option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tracks; index as i;"
        [class]="getItem(item)?.id == currentTrackId ? 'active-track' : ''"
        (click)="rowClick($event, contextUri, uris, getItem(item).uri);">
        <td class="track-checkbox">
          <input type="checkbox">
          <i class="material-icons-outlined">done</i>
        </td>
        <td class="track-number">
          <span>{{ i + 1 }}</span>
          <a href="javascript:" (click)="playTrack(contextUri, uris, getItem(item).uri)">
            <i class="material-icons-outlined">play_circle_filled_white</i></a>
        </td>
        <td>{{ getItem(item)?.name }}</td>
        <td *ngIf="!hideArtists">
          <span *ngFor="let artist of getItem(item)?.artists; index as j;">
            <a routerLink="/artists/{{ artist.id }}">{{ artist.name }}</a>
            <span *ngIf="j < getItem(item)?.artists.length - 1">, </span>
          </span>
        </td>
        <td *ngIf="!hideAlbums"><a routerLink="/albums/{{ getItem(item).album?.id }}">{{ getItem(item).album?.name }}</a></td>
        <td *ngIf="tracks && getItem(tracks[0])?.popularity">{{ getItem(item)?.popularity }}</td>
        <td>{{ msToTime(getItem(item)?.duration_ms) }}</td>
        <td *ngIf="!hideOptions">
          <a *ngIf="searchIdFromFavorites(getItem(item)?.id); else notFavorite"
            class="mr-4" href="javascript:" (click)="removeTrack(getItem(item)?.id)"><i class="material-icons-outlined">favorite</i></a>
          <ng-template #notFavorite>
            <a class="mr-4" href="javascript:" (click)="savedTrack(getItem(item)?.id)"><i class="material-icons-outlined">favorite_border</i></a>
          </ng-template>
          <span class="dropdown mr-4">
            <a href="javascript:" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons-outlined">share</i></a>
            <div class="dropdown-menu dropdown-menu-right mt-2 py-3 mr-1" (click)="stopPropagation($event)">
              <a class="dropdown-item" href="javascript:" (click)="shareOnFacebook(getItem(item)?.external_urls.spotify)">
                <small><i class="fa fa-facebook mr-2"></i>Facebook</small>
              </a>
              <a class="dropdown-item" href="javascript:">
                <small><i class="fa fa-twitter mr-2"></i>Twitter</small>
              </a>
            </div>
          </span>
          <span class="position-relative">
            <span #trackMenuTrigger [matMenuTriggerFor]="trackMenu" [style.position]="'fixed'" [style.left.px]="menuX" [style.top.px]="menuY"></span>
            <mat-menu [hasBackdrop]="false" #trackMenu="matMenu" class="trackMenu">
              <!-- <div class="mx-3 my-2"><small><b>{{ getItem(item)?.name }}</b></small></div> -->
              <button mat-menu-item><b>{{ getItem(item)?.name }}</b></button>
              <mat-divider></mat-divider>
              <button mat-menu-item>Add to queue</button>
              <button mat-menu-item>Add to a playlist</button>
              <button mat-menu-item>Go to song radio</button>
              <button mat-menu-item [routerLink]="['/artists', getItem(item)?.artists[0]?.id]">Go to artist</button>
              <button mat-menu-item *ngIf="getItem(item)?.album" [routerLink]="['/albums', getItem(item)?.album?.id]">Go to album</button>
              <button mat-menu-item>Show credits</button>
            </mat-menu>
          </span>
        </td>
      </tr>
    </tbody>
  </table>

</div>
