table.styled {
  th, td {
    border: none;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      width: 1%;
      white-space: nowrap;
      border-radius: 0 4px 4px 0;
    }
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }

  tr {
    border: none;
    td, th {
      &.mat-cell,
      &.mat-header-cell {
        padding: 8px;
        &:last-of-type {
          padding-right: 0;
        }
        &:first-of-type {
          padding-left: 0;
        }
        @media (hover: hover) {
          &:last-of-type {
            padding-right: 16px;
          }
          &:first-of-type {
            padding-left: 16px;
          }
        }
        &.mat-column-select {
          transition: 0;
          .mat-checkbox {
            position: relative;
            top: 0.25rem;
          }
        }
        &.mat-column-song,
        &.mat-column-album,
        &.mat-column-artist {
          max-width: 300px;
        }
        &.mat-column-option,
        &.mat-column-number {
          text-align: center;
          padding: 0 8px;
        }
        &.mat-column-number {
          min-width: 40px;
          padding: 0;
          .play-button {
            display: none;
          }
          .number {
            display: inline-block;
          }
        }
      }
    }

    th {
      color: black;
      border-bottom: 1px solid #F4F4F4 !important;
    }

    td {
      font-weight: 500;
      &, a, i {
        color: #6c757d;
      }
    }

    @media (hover: hover) {
      &:hover {
        background-color: #ECE0FD;
        td {
          &, a, i {
            color: black;
          }
          &.mat-column-number {
            .play-button {
              display: inline-block;
            }
            .number {
              display: none;
            }
          }
        }
      }
    }

    &.active-track {
      td {
        &, a, i {
          color: #6200EE;
        }
      }
    }
  }

  &:not(.has-selection) {
    tr {
      td, th {
        &.mat-cell,
        &.mat-header-cell {
          &.mat-column-select {
            transition: padding-left 0.25s;
            padding-left: 0;
            .mat-checkbox {
              display: none;
            }
          }
        }
      }
    }
  }
}
