<div class="app-container pb-4">

  <app-featured-playlists></app-featured-playlists>

  <div class="px-4 pt-4">
    <h6>Your Public Playlists</h6>
    <app-playlists-list [playlists]="playlists" [hidden]="['owner']" [options]="{ rows: 1 }"></app-playlists-list>
    <!-- <pre>{{ playlists|json }}</pre> -->
  </div>

  <div class="floating-button p-5 position-fixed">
    <button mat-fab color="primary" aria-label="Add a playlist" (click)="openAddPlaylistDialog(addPlaylistDialog)">
      <mat-icon>playlist_add</mat-icon>
    </button>
    <ng-template #addPlaylistDialog>
      <h1 mat-dialog-title>Add a Playlist</h1>
      <div mat-dialog-content>
        <p >
          <mat-form-field appearance="outline" class="width-500 mw-100">
            <mat-label>Name</mat-label>
            <input [(ngModel)]="uploadForm.name" matInput placeholder="My Playlist" cdkFocusInitial>
          </mat-form-field>
        </p>
        <p *ngIf="!progress.fileName">
          <mat-form-field appearance="outline" class="width-500 mw-100">
            <mat-label>Description</mat-label>
            <textarea [(ngModel)]="uploadForm.description" rows="3" matInput placeholder="Description"></textarea>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" class="width-500 mw-100">
            <mat-label>Playlist Files</mat-label>
            <mat-chip-list>
              <mat-chip *ngFor="let file of files">{{ file.name }}</mat-chip>
            </mat-chip-list>
            <input [(ngModel)]="uploadForm.file" type="file" class="fileInput" multiple (change)="fileInputChanged($event)">
          </mat-form-field>
        </p>
        <div *ngIf="progress.fileName">
          <p>{{ progress.fileName }}: {{ progress.file }}%<mat-progress-bar mode="determinate" [value]="progress.file"></mat-progress-bar></p>
          <p>Total: {{ progress.total }}%<mat-progress-bar mode="determinate" [value]="progress.total"></mat-progress-bar></p>
        </div>
      </div>
      <mat-dialog-actions class="pb-4 float-right">
        <button mat-flat-button mat-dialog-close>Cancel</button>
        <button
          [disabled]="!(uploadForm.name || uploadForm.file)"
          (click)="newPlaylist()"
          color="primary"
          mat-flat-button
        >Create</button>
      </mat-dialog-actions>
    </ng-template>
  </div>

</div>
